pandas>=2.1.4,<4
numpy>=1.26.4,<3
opencv-python-headless>=4.8.1.78,<5
Pillow>=10.1.0,<13
torchmetrics>=1.2.1,<2
matplotlib>=3.8.2,<4
seaborn>=0.13.1,<1
scikit-learn>=1.3.2,<2
pytorch-lightning>=2.1.3,<3
rich>=13.7.0,<16
